/*Universal selector*/
* {
    font-weight: bold;
    color: #e67e22;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, section, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}


header:hover{
  background-color: #2ecc71;
}

/* Selectors Showcase */
h1 {
    color: #3498db;
}

.box {
    background-color: #ecf0f1;
    padding: 10px;
    margin-bottom: 20px;
}

/* Apply styles to specific boxes */
#box1 {
    border: 2px solid #e74c3c;
}

#box2 {
    border: 2px solid #2ecc71;
}

#box3 {
    border: 2px solid #f39c12;
}

/* Apply styles using class selector */
.box p {
    font-style: italic;
}

/*trying Present attribute selector*/
a[title] {
	color: khaki;
	background: grey; 
}

/*Trying Equals selector [attribute="value"]*/
a[target="_blank"] {
  background-color: yellow;
}

/*when hovered, the color of the text and background would change*/
a[target="_blank"]:hover {
  background-color: black;
  color: #ddd;
}

/*when hovered, the color of the text and background would change*/
a[title]:hover{
  color: black;
  background-color: #2ecc71;
}

/*Trying White space selector*/
[title~="flower"] {
  text-align: center;
  border: 2px solid grey;
}

/*when you hover on the text, the border would remove*/
[title~="flower"]:hover{
  border: none;
}

/*Trying to use Begins with selector (^)*/
.content p:hover{
  background-color: #3498db;
}

.content p:nth-of-type(odd){
  background-color: yellow;
}

/*Tryin CSS [attribute$="value"] Selector*/
.test p:nth-of-type(odd){
  background: yellow;
}

.test p:nth-of-type(even) {
  background: green;
}

/*Trying CSS * selector*/
.fri p:nth-of-type(2n+0) {
  background: yellow;
}

/*Tring CSS [attribute|="value"] selector*/

.top p:nth-of-type(2n-1) {
  background: yellow;
}

h1[title~="flower"] {
  border: none;
}
